.site-header {
	align-items: center;
	background-color: var(--c-primary);
	color: var(--c-secundary);
	display: flex;
	justify-content: space-between;
	padding: 0 15px;

	@media screen and (min-width: 1200px) {
		padding: 0 150px;
	}
}

.header {
	&__logo {
		max-width: 90px;
		flex-shrink: 0;

		@media screen and (min-width: 1200px) {
			max-width: 80px;
		}
	}

	&__navegation {
		.menu {
			@extend %reset-list-style;
			display: none;
		}

		@media screen and (min-width: 768px) {
			.menu {
				display: flex;
			}
		}
	}

	&__extra {
		align-items: center;
		display: flex;
		justify-content: center;
		gap: 1rem;
	}

	&__button {
		display: none;

		@media screen and (min-width: 768px) {
			display: inline-block;
		}
	}

	&__menu_trigger {
		background-color: var(--c-primary);
		border-color: transparent;

		&:hover {
			cursor: pointer; //in case of user is using a small width on Desktop
		}

		@media screen and (min-width: 768px) {
			display: none;
		}
	}
}

.extra {
	&__language {
		display: flex;
		justify-content: center;
		gap: 0.5rem;

		.language {
			&__flag {
				max-width: 1.25rem;
				height: auto;
			}

			&__name {
				text-transform: uppercase;
			}

			&__menu_trigger {
				cursor: pointer;
			}
		}
	}
}
