:root {
	// colors
	--c-white: #fff;
	--c-black: #000;
	--c-primary: rgb(11, 168, 137);
	--c-secundary: #FFF;
	// fonts
	--f-primary: 'Inter', sans-serif;
	--f-secundary: font-family: 'Istok Web', sans-serif;
	// others
}
